<!doctype html>
<html lang="{{ site.lang }}">
  <head>
    {{> meta }}

    <link href="/css/app.css?v={{version}}" crossorigin="anonymous" media="all" rel="stylesheet" />
    <script type="application/javascript">User='{{coinhive_user}}';EUR={{inital_EUR}};</script>
  </head>
  <body>
    <header>
      <div>
        <input id="js-tgl-mining" class="tgl" type="checkbox">
        <label for="js-tgl-mining" class="btn-tgl" data-tgl-on="On" data-tgl-off="Off"></label>
      </div>

      {{> cause }}

    </header>
    <main>
      <article>
      <h2>Worum geht es hier?</h2>
      <p>Auf <strong>Spende-Einen-Tab.de</strong> kannst Du die Zeit, in der diese Seite offen ist, in eine Spende verwandeln.</p>

      <h1>Spende einen Tab deines Browsers für einen guten Zweck!</h1>
      <p>Wenn Du diesen Tab offen und den Schalter links oben auf <strong>&quot;ON&quot;</strong> lässt,
        spendest Du echtes Geld. Je länger der Browser-Tab offen bleibt, um so mehr Geld kann es werden.
      </p>
      <p>
        Vielleicht warnt Dich Deine Anti-Viren-Software vor dieser Seite.
        Du brauchst Dir aber keine Sorgen zu machen, es werden weder schädliche Daten
        auf Deinem Gerät gespeichert, noch werden irgendwelche sensiblen persönlichen
        Informationen verschickt.
      </p>

      <h3>Wofür kannst Du auf dieser Seite spenden?</h3>
      <p>Es gibt aktuell vier Themen für die gespendet werden kann:</p>
      <nav>
          <ul>
          {{#each pages }}
            <li>
              <a href="/{{path}}" class="btn {{{isActive @root.path path}}}">{{ headline }}
                {{{ headline_claim }}}
              </a>
            </li>
          {{/each}}
          </ul>
        </nav>

      <h3>Wie kannst Du helfen?</h3>
      <p>
        Du kannst zwei weitere, einfache, Dinge beitragen um dieses Projekt erfolgreich zu machen:
        Die erste Möglichkeit ist es <a href="#disqus">sich an der Diskussion zu beteiligen</a> um das Projekt besser zu machen.
      </p>
      <p>
        Die zweite: zeige allen Deinen Freunden und Kollegen diese Seite, damit so viele wie möglich
        einen Browser-Tab spenden. Vielleicht kennst Du auch Menschen, für die dieses Projekt frischer oder
        relevanter Inhalt für deren Projekte darstellt (wie für Presse, NGOs, Agenturen, Blogs oder Andere).
        Wenn Du Ideen hast, schick bitte eine E-Mail an
        <a href="mailto:hey@spende-einen-tab.de">hey@spende-einen-tab.de</a>.
        <strong>Je mehr Menschen diese Seite besuchen, umso mehr Spenden werden entstehen.</strong></p>

      <h3>Wie wird das Geld „hergestellt“?</h3>
      <p>
        Sehr vereinfacht dargestellt, errechnet diese Seite Teile der digitalen Währung
        <a href="https://de.wikipedia.org/wiki/Monero" target="_blank" rel="noopener noreferrer">Monero</a>,
        eine <a href="https://de.wikipedia.org/wiki/Kryptow%C3%A4hrung" target="_blank" rel="noopener noreferrer">Cryptocurrency</a>
        wie z.B.: Bitcoin. Mit Hilfe eines Dienstleisters werden diese in Moneros umgewandelt
        und die lassen sich in Euro umtauschen. Das klingt kompliziert, ist es auch.
      </p>

      <h3>Wieviel Geld steuerst Du bei?</h3>
      <p>
        Du berechnest aktuell mit einer Geschwindigkeit von <strong><span id="js-speedOut">0</span>
         Hashes pro Sekunde.</strong> In diesem Tab sind das insgesamt <strong><span id="js-hashesOut">0</span> Hashes</strong>.
         Das sind ca. <strong>€<span id="js-euroOut">0</span></strong>.
       </p>

      <h3>Wieviel Geld kann man so erzeugen?</h3>
      <p>
        Nur wenn viele Menschen über einen längeren Zeitraum spenden kommt eine größere Summe zusammen. Wenn Du den Browser-Tab den ganzen Tag offen läßt, spendest Du vielleicht <strong>fünf Cent</strong>. Schon bei 1.000 Spendern und einer Woche sind es <strong>€350</strong>, bei der Einfachheit der Aufgabe und der Größe des Internets sollte eigentlich deutlich mehr möglich sein, oder?
      </p>

      <h3>Wie funktioniert das Spenden?</h3>
      <p>
        Jedes Mal, wenn einem einzelnen Thema Moneros im Wert von fünfzig Euro zugeschrieben werden können, werden diese der jeweiligen Hilfsorganisation zukommen und hier dokumentiert.
      </p>

      {{{contents}}}

      <div id="disqus">
        <h3>Dieses Projekt ist auf Deine Mithilfe angewiesen</h3>
        <p>
          Jede Form von Hinweis, Vorschlag oder Angebot hilf und ist ausdrücklich willkommen.
        </p>

        <div id="disqus_thread"></div>
        <script type="application/javascript">
        (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://spende.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
        })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="noopener noreferrer">comments powered by Disqus.</a></noscript>
      </div>

      <hr>

      <h3>Nachsatz</h3>
      <p>
        Der Betrieb von <strong>{{site.name}}</strong> steht in keinerlei geschäftlicher Verbindung zu
        den Spendenorganisationen oder anderen Unternehmen.
        Der Source-Code liegt frei zugänglich auf
        <a href="https://github.com/Spende-Einen-Tab/spende-einen-tab.github.io" target="_blank" rel="noopener noreferrer">GitHub</a>.
        Zur Webanalyse nutzt diese Seite Software von
        <a href="https://www.google.com/intl/de/analytics/" target="_blank" rel="noopener noreferrer">Google Analytics</a>
        und für moderierte Kommentare <a href="https://disqus.com/" target="_blank" rel="noopener noreferrer">Disqus</a>.
        Über <a href="https://coinhive.com/" target="_blank" rel="noopener noreferrer">Coinhive</a> werden die Moneros generiert.
      </p>
      <p>
        Das Projekt basiert auf einer Idee von <a href="https://bod.ge" rel="noopener noreferrer" target="_blank">Mike Bodge</a>.
        Es ist aber vollständig eigenständig und zudem unabhängig entwickelt worden.
      </p>
      <p><strong>{{site.name}}</strong> wurde von mir ausschließlich zum Wohle der Allgemeinheit erstellt und wird auch zu keinem anderen Zweck betrieben.
      </p>
      <p>
        Vielen Dank für Deine Aufmerksamkeit.
        <br>👋 , Daniel
      </p>

      {{> footer }}
    </main>

    {{> adblocker-notification }}

    <script type="application/javascript" src="https://coinhive.com/lib/coinhive.min.js"></script>
    <script type="application/javascript" src="/js/app.js?v={{version}}"></script>
    <script type="application/javascript" async src="https://www.googletagmanager.com/gtag/js?id={{ site.analyticsID }}"></script>
    <script type="application/javascript">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ site.analyticsID }}');
      gtag('set', 'anonymizeIp',true);
    </script>
  </body>
</html>
